.fieldRow,
.fieldRowRight {

  display: flex;
  align-content: center;
  /*align-items: center;*/
  overflow: hidden;
  gap: 32px;

}

.fieldRow {
  flex-direction: row;
}

.fieldRowRight {
  flex-direction: row-reverse;
}

.fieldRowExpand {
  width: 100%;
  button {
    width: 100%;
  }
}

.fieldRowCompact {
  justify-content: center;
}


.fieldContainer {
  overflow-y: hidden;
  overflow-x: hidden;
  /*border: 1px solid green;*/
}

.fieldContainerExpand {
  width: 100%;
}

.fieldLabelTag {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.fieldPadding {
  height: 1em;
}

.fieldLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

.fieldDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #676d74;
}

.fieldError {
  padding-top: 4px;
  /*color: red;*/
}

.validationMessage {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 4px;
}

.fieldWarning {
  padding-top: 4px;
}

.fieldInfo {
  padding-top: 4px;
}

.textValue {
  width: 99%;
  margin-left: 1px;

  input {
    padding: 12px 16px;
    height: 48px;

    background: #ffffff;
    border: 1px solid #80848e;
    border-radius: 8px;
  }
}

.label {
  width: 100%;
  span {
    width: 100%;
  }
}

.boolValue {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  input {
    width: 24px;
    height: 24px;
  }
}

.fieldWithWarning {
  input {
    border: 1px solid chocolate !important;
  }

  button {
    border: 1px solid chocolate !important;
  }
}

.textArrayValue {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    padding: 12px 16px;
    height: 48px;

    background: #ffffff;
    border: 1px solid #80848e;
    border-radius: 8px;
  }
}

.removeIcon {
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}

.addIcon {
  color: #130fff;
  cursor: pointer;
}

.addIconDisabled {
  color: gray;
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-x: hidden;
}

.fieldGroupExpand {
  width: 100%;
}

.fieldGroupCompact {

}
